.ordersPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 100%;
  max-width: 375px;
  min-width: 320px;
  padding: 20px;
  background-color: var(--color-fon-pages);
  color: var(--color-text);
}

@media (min-width: 768px) {
  .ordersPage {
    max-width: 768px;  
    padding: 32px;
  }
}

@media (min-width: 1280px) {
  .ordersPage {
    max-width: 1280px;  
    padding: 34px;
  }
}