.card{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 100%;
max-width: 335px;
height: 100%; 
padding: 8px; 
border-radius: 16px;
background: var(--color-card-product);
border: 1px solid var(--color-border);
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover,
.card:focus {
transform: scale(1.03);
box-shadow: 0 10px 20px var(--color-shadow);
}

.image{
display: flex;
align-items: center;
justify-items: center;
border-radius:8px;
width:100%;
height: 100px;
}

.content{
display: flex;
flex-direction: column;
gap: 6px;
 height: 100%; 
}

.name{
font-weight: 700;
font-size: 16px;
line-height: 1.33;
}

.description{
font-weight: 400;
font-size: 12px;
line-height: 1;
}

.price{
font-weight: 600;
font-size: 16px;
line-height: 1.25;
}

.category{
font-weight: 400;
font-size: 12px;
line-height: 1;
}

.btnCart{
 align-self: flex-end;  
  margin-top: auto; 
height: 42px;
width: 180px;
border-radius: 30px;
padding: 4px;
background: var(--color-btn);
border: 1px solid  var(--color-btn-border);
font-weight: 500;
color:  var(--color-text);
transition: all 0.3s ease;
}

.btnReset:hover,
.btnReset:focus {
background: var(--color-btn-focus);
}

@media (min-width: 768px) {
  .card {
  width: calc(50% - 16px);
  }
}

@media (min-width: 1280px) {
  .card {
  width: calc(33.33% - 16px);
  }
  }
