.header {
display: flex;
width: 100%;
max-width: 335px;
min-width: 320px;
background-color: var(--color-header);
padding: 20px;
}

.nav {
  display: flex;
  gap: 20px;
}

.link {
  color: var(--color-link);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  transition: opacity 0.2s;
}

.link:hover {
  opacity: 0.8;
}

.active {
  border-bottom: 2px solid white;
}

@media (min-width: 768px) {
.header{
max-width: 704px;  
padding: 32px;
}

.logo{
margin-right: 10px;
}

.link {
  font-weight: 600;
  font-size: 20px;
  transition: opacity 0.2s;
}
}

@media (min-width: 1216px) {
.header {
max-width: 1280px;  
padding: 34px;
}
}
