.header {
  background-color: var(--color-header);
  padding: 16px 24px;
}

.nav {
  display: flex;
  gap: 20px;
}

.link {
  color: var(--color-link);
  text-decoration: none;
  font-weight: 00;
  font-size: 20px;
  transition: opacity 0.2s;
}

.link:hover {
  opacity: 0.8;
}

.active {
  border-bottom: 2px solid white;
}