.shopsPage {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center; 
width: 100%;
/* max-width: 375px; */
min-width: 320px;
padding: 20px;
background-color: var(--color-fon-pages);
color: var(--color-text);
}

.title{
font-weight: 500;
font-size: 20px;
line-height: 1.33;
letter-spacing: -0.02em;
color: var(--color-header);
margin-bottom: 8px;
}

@media (min-width: 768px) {
.shopsPage {
width: 768px;  
padding: 32px;
}

.title{
font-weight: 700;
font-size: 32px;
margin-bottom: 16px;
}

}

@media (min-width: 1280px) {
.shopsPage {
width: 1280px;  
padding: 34px;
}
}