:root {
  --font-family: "Inter", sans-serif;
  --color-body: white;
  --color-fon-pages: #f8dcdc;     
  --color-text: #000;         
  --color-header: #ff6b6b;
  --color-link: white; 
  --color-card-shop: #eca0a0; 
  --color-border: #ff6b6b; 
  --color-shadow: #e6e5e559; 
  --color-filters: #b07fe7; 
  --color-label: white;
  --color-shadow: #e6e5e559; 
  --color-btn: #ff6b6b; 
  --color-btn-border: white;
  --color-btn-focus: #eca0a0;
  --color-input: #fff; 
  --color-text-muted: #999;
}

[data-theme="dark"] {
  --color-body: white;
  --color-fon-pages: #f8dcdc;          
  --color-text: #000;       
  --color-header: #ff6b6b;
  --color-link: white;
  --color-card-shop: #eca0a0; 
  --color-border: #ff6b6b; 
  --color-shadow: #e6e5e559; 
  --color-filters: #b07fe7;
  --color-label: white; 
  --color-btn: #ff6b6b; 
  --color-btn-border: white;
  --color-btn-focus: #eca0a0;
  --color-input: #fff; 
  --color-text-muted: #999;                  
}

*,
*::before,
*::after {
  box-sizing: border-box;
 }

body {
  font-family: var(--font-family);
  color: var(--color-text);
  background-color: var(--color-body);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;  
  min-width: 320px;
  min-height: 100vh;
}

p,
h1, h2, h3, h4, h5, h6 {
margin: 0;
color: var(--color-text-primary);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
font-family: inherit;
cursor: pointer;
border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;

}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


